{
    "env": {
        "node": true
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "ignorePatterns": [
        "typedoc.js",
        "docs/*"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "root": true,
    "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-empty-interface": "off"
    }
}