docs/
src/
test/
.prettierrc
.pretiierignore
.gitignore
tsconfig.json
typedoc.js
yarn.lock
jest.config.js
renovate.json
lib/test
renovate.json
.DS_Store
.vscode
tslint.json
*.tgz
.eslintrc.js
.github/
dist/test/
